.contact-info {
    position: absolute;
    z-index: 99999;
    left: 28%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contact-form {
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.contact-form textarea{
    width: 100%;
    border: none;
    background-color: rgb(242, 240, 240);
    padding: 8px;
}

.contact-form input{
    background-color: rgb(242, 240, 240);
    border: none;
}
.contact-form button{
    width: 100px;
    border-radius: 18px;
    background: linear-gradient(180deg, 
    rgba(29, 198, 76, 1), 
    rgb(155, 247, 235));
    color: white;
    font-weight: 600;
}
/* .outer-layer{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */

@media screen and (max-width: 992px) {
    .contact-info {
    left: 16%;
    }
  }
  
@media screen and (max-width: 850px) {
  .contact-form{
    width: 500px;
  }
  .contact-info{
    width: 250px;
    left: 8%;
  }
  }